//- 张楚明:18342125
//- layout.jade

doctype html
html
  head
    title = title
    link(rel = "stylesheet" type = "text/css" href = "/stylesheets/style.css")
    script(type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
  
  body
    block content
